
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% block head %}
		<title>Base</title>
	{% endblock %}
</head>
<body>
	<div class="container">
	</br>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="btn btn-outline-success my-2 my-sm-0" href="/account">Home</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="/account/login">Login</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="/account/logout">Log Out</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="/account/profile">Profile</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="/account/profile/edit">Edit Profile</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="/account/change-password">Change Password</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="/account/reset-password">Reset Password</a>
          </li>
        </ul>
          <a class="btn btn-outline-success my-2 my-sm-0" href="/account/register">Sign Up</a>
      </div>
    </nav>
  </div>
	{% block body %}
		<h1>Base</h1>
	{% endblock %}
</body>
</html>