
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% block head %}
		<title>Base</title>
	{% endblock %}
</head>
<body>
	<div class="container">
	</br>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Social Network</button>
          </li>
        </ul>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
      </div>
    </nav>
  </div>
	{% block body %}
		<h1>Base</h1>
	{% endblock %}
</body>
</html>